# Environment variables
.env

# Data outputs
data/
*.csv
*.parquet

# DuckDB files
*.db
*.duckdb
duckdb.exe

# Allow documentation assets
!docs/*.png
!docs/*.jpg

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store

