# Environment variables
.env

# Data outputs
data/
*.csv
*.parquet

# DuckDB files
*.db
*.duckdb
duckdb.exe

# Generated plots & images
*.png

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store

